
			<!--heder end here-->
<!-- 			<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a><i class="fa fa-angle-right"></i>Tabels</li>
            </ol> -->

<div class="agile-grids">	
 <section style="margin-top: 30px; padding-bottom: 60px; background-color: #ff6600;" class="container">
    <div class="container justify-content-center" >
        <div class="cart-title">
            <h1 style="color: #fff;">Chi tiết đơn hàng</h1>   
        </div>

        <div class="list-item list-group">
            {{#each cart.items}}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container mr-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="imageItem" src="{{item.imagePath}}" style="width: 200px;" />
                        </div>
                        <div class="col-md-4" style="padding-top: 50px">
                            <div>
                                {{item.title}}
                            </div>
                            <!-- <div>
                                Size XL
                            </div> <-->
                            <span>Số lượng: </span>
                            <input class="amount" type="number" value="{{qty}}"/>
                        </div>
                        <div class="col-md-4 d-flex align-items-center" style="padding-left: 70px;">
                            <span class="price-lable">{{price}} usd</span>
                        </div>
                        <div class="col-md-1 del-product">
                            <button class="close-btn ">
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>

        <div class="total-info container" style="padding-top: 30px; color: #fff;">
            <h4>Tổng giá tiền: </h4>
            <h4 class="overall-total-price" >{{cart.totalPrice}} usd</h4>
            {{#if accepted}}
            <a href="/admin/order-shipping/{{_id}}" class="confirm-order btn btn-primary">Xác nhận đơn hàng</a>
            {{else}}
            <a class="confirm-order btn btn-success" disabled>Đơn hàng đã được xác nhận</a>
            {{/if}}
        </div>
    </div>
</section>
</div>

