<section class="container" style="padding-top: 62px;">
	<div class="row" style="margin-top: 30px; background-color: #fff;">
		{{#if tshirt.madeBy}}
		<div class="ht-img-lg col-lg-6 col-sm-12 "
		style="height: 500px; background-image: url(/img/tshirt/white.png);background-repeat: no-repeat;">
			<img src="{{tshirt.imagePath}}" alt="" style="width: 190px;height: 350px;border: none;margin-left: 142px;margin-top: 58px;">
		</div>
		{{else}}
		<div class="ht-img-lg col-lg-6 col-sm-12 hvr-grow">
			<img src="{{tshirt.imagePath}}" alt="" style="width:90%; height:70%;">
		</div>
		{{/if}}
		<div class="ht-info-detail col-lg-6 col-sm-12">
			<h3>{{tshirt.title}}</h3>
			<!-- <h6 style="color:gray; margin-left: 10px">Mã sản phẩm: <span style="color:blue">SP00{{tshirt.code}}</span></h6> -->
			<h6 style="color:gray; margin-left: 10px">Nhà sản xuất: <span style="color:blue">{{tshirt.origin}}</span></h6>
			{{#if tshirt.number}}
			<h6 style="color:gray; margin-left: 10px">Tình trạng: <span style="color:blue">còn hàng</span>
			</h6>
			{{else}}
			<h6 style="color:gray; margin-left: 10px">Tình trạng: <span style="color:red">hết hàng</span>
			</h6>
			{{/if}}
			<div>
				<h3 class="ht-info-cost">
					<span class="ht-real-cost" style="color:#ff6600">{{tshirt.price}}usd</span> 
						{{#if tshirt.saleoff}}
						<strike style="color:lightgray; font-size:0.67em">{{beforPrice}}usd</strike>
						<span class="ht-saleoff" style="font-size:0.67em">-{{tshirt.saleoff}}%
						{{/if}}
					</span>
					<br/>
				</h3>
			</div>
			<h5 style="margin-top: 20px;  font-size:1em">Chọn kích cỡ	: </h5>
			<div style=" margin-left: 10px">
				<button  class="ht-size"value="S">
					S
				</button>
				<button  class="ht-size"value="M">
					M
				</button>
				<button  class="ht-size"value="L">
					L
				</button>
				<button  class="ht-size active"value="XL">	XL
				</button>
				<button  class="ht-size"value="XXL">
					XXL
				</button>
			</div>
			<h5><br/>Số lượng: <input type="number" name="quantity" style="width: 60px; height:30px; padding-left: 10px; margin-left: 20px" value="1"></h5>
			<a href="/add-to-cart/{{id}}">
				<button class="btn btn-primary ht-add-cart"><i class="fas fa-shopping-cart"></i>
					Thêm vào giỏ hàng
				</button>
			</a>
		</div>
	</div>
	<div class="row ht-more-info" style="background-color: #fff; margin-top: 16px;">
		<h5 style="width: 100%;">Mô tả:</h5>
		<p>{{tshirt.description}}</p>
	</div>
</section>
<script type="text/javascript" src="/js/product.js"></script>