<section style="padding-top: 60px; padding-bottom: 60px;">
    {{#if this.products }}
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-1">
                <h3 style="padding-bottom: 20px;background-color: #fff;color: #1ba8ff;font-weight: bold;border-bottom: #1ba8ff solid 1px;border-radius: 0;">Giỏ hàng</h3>
                <ul class="list-group" style="padding: 20px 0;">
                    {{#each products}}
                    <li class="list-group-item">
                        <span class="badge">{{this.qty}}</span>
                        <span style="font-weight: bold">{{this.item.title}}</span>
                        <span class="label label-success">${{this.price}}</span>
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" style="font-size: 0.8em;">
                                Chỉnh sửa <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/increase/{{this.item._id}}">Tăng 1</a></li>
                                <li><a href="/reduce/{{this.item._id}}">Giảm 1</a></li>
                                <li><a href="/remove/{{this.item._id}}">Xóa tất cả</a></li>
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <h5>Tổng tiền: {{totalPrice}}</h5>
                <hr>
                <a href="/checkout">
                    <button type="button" class="btn btn-success" style="width: 100%">Thanh toán</button>
                </a>
                <hr>
                <a href="/shopping">
                    <button type="button" class="btn btn-outline-success" style="width: 100%">Tiếp tục mua sắm</button>
                </a>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-sm-8 col-md-8 offset-md-2 offset-sm-2" style="text-align: center;">
                <h2>Chưa có sản phẩm nào trong giỏ!</h2>
                <a href="/shopping">
                    <button type="button" class="btn btn-outline-success" style="width: 70%;padding: 10px;margin-top: 20px;background-origin: ">
                    Mua sắm ngay
                    </button>
                </a>
            </div>
        </div>
    </div>
    {{/if}}
</section>